@charset "utf-8";
/**
 * HTML5 Boilerplate v5.0
 * AUTHOR Zet-Web
 * MIT License
 */

/**
 *
 * Imports
 *
 */
@import "compass";
@import "partials/_mixins";
@import "partials/css3-mixins";
@import "partials/utility-belt";
@import "partials/_variables";
@import "partials/_fonts";
@import "animate/animate";
@import "hover/hover";
@import "partials/_defaults";

#content {
    .left_c {
      .description  {
         margin: 15px 0;
         @include fchar_text(16px, 20px, #333333, $light);
      }
    }
}

#links {display: none;}
#hitparad {

}

.vote-table { background: none;
  .number {
    color: #ccc;
    font-family: ConquerorSansMedium;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
  }
   td  {
      border: 1px solid #f2f2f2;
      border-collapse: collapse;
      border-color: #f2f2f2;
      padding: 15px 0;
   }

   tr:nth-of-type(2n+2) {
      background: #f2f2f2;
   }
  #play-box {
    width: 55px;
    height: 55px;
    background-color: #d5662d;
     float: left;
     text-align: center;
     margin: 0 16px;
     padding: 15px 0;

     #play-pause {
      background: url("../images/play-15.png") no-repeat;
      background-position: cover;
    }
  }

  tr {
    td {
      &:nth-of-type(1) {width: 70px;
         text-align: center;
      }
      &:nth-of-type(2) {width: 395px;
         padding: 0;
      }
      &:nth-of-type(3) {width:80px;
         text-align: center;
      }
      &:nth-of-type(4) {width:150px;
         text-align: center;
      }
      .number {
        content: "";
        display: block;

      }

      div { content: "";
        .media-btn { content: "";
           height: 20px;
           width: 15px;

        }
      }

      .song-data { content: "";
         float: left;
         width: 240px;

         .album-cover { content: "";
            display: inline-block;
            float: left;
            margin-right: 20px;

            img { content: "";

          }
        }

        .name-artist { content: "";
           float: left;

           .link { content: "";
            color: #333;
            font-family: $medium;
             font-size: 14px !important;
            font-weight: 400;
            text-transform: uppercase;

            .song-name { content: "";
              color: #999;
              font-family: ConquerorSans;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;

            }
          }

          .song-name { content: "";
             font-size: 14px;
             line-height: 20px;
             text-transform: uppercase;

          }
        }
      }

      .status { content: "";

        .status-icon { content: "";

          img { content: "";

          }
        }
      }

      .link-box { content: "";

        .link-app { content: "";

          img { content: "";

          }
        }
      }
    }
  }
}

.list-albums.hitparad {
   padding-top: 1px;

}