%footer.footer
  .container
    .row.footer-menu
      .col-xs-4
        %ul
          %li
            %a(href="#" ) О проекте
          %li
            %a(href="#" ) Контакты
          %li
            %a(href="#" ) Реквизиты
          %li
            %a(href="#" ) Вопросы и ответы
      .col-xs-4
        %ul
          %li
            %a(href="#" ) Конфиденциальность
          %li
            %a(href="#" ) Условия возврата
          %li
            %a(href="#" ) Таблица размеров
          %li
            %a(href="#" ) Доставка и оплата
      .col-xs-4
        .foot-title Следите за нами
        %img(src="images/social.png" )
    .divider
    .row.footer-contacts
      .col-xs-4
        © 2013 MSONIC. Все права защищены
        %br/
        Designed by Studio 1-23
      .col-xs-4
        Россия, 143400, Москва, ул. Тверская, д. 7
        %br/
        Время работы: пн-сб. с 09:00 до 21:00
        %br/
        %p.text-right.call-time
          с 10:00 до 18:00
      .col-xs-4
        Телефон / Факс: +7 495 919 3142
        %br/
        E-mail: info@tmk.ru
        %br/
        %a(href="#" )
          Форма обратной связи →
  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  / Latest compiled and minified JavaScript
  %script(src="js/bootstrap.min.js" )
  %script(src="js/slick.min.js" )
  %script(src="js/bootstrap-filestyle.min.js" )
  %script(src="js/bootstrap-modalmanager.js" )
  %script(src="js/bootstrap-modal.js" )
  %script(src="js/slick.min.js" )
  %script(src="//vjs.zencdn.net/4.12/video.js" )
  %script(src="js/jquery.mask.min.js" )
  :javascript
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
  %script(src="js/js.js" )


