<footer class="footer" id="footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="top-label">ЕСЛИ РАДИО - ТО МАКСИМУМ!</p>
          <p class="email">Email: <a href="mailto:radio@maximum.ru">radio@maximum.ru</a></p>
          <p class="copyright">Copyright © 2000-2015 Радио MAXIMUM</p>
          <a class="reklama-btn" href="">Реклама на радио Maximum</a>
        </div>
        <div class="col-md-2">
          <ul class="foot-menu">
            <li><a href="#/">Новости</a></li>
            <li><a href="#/">Музыка</a></li>
            <li><a href="#/">Программы</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="foot-menu">
            <li><a href="#/">Викторины и конкурсы</a></li>
            <li><a href="#/">О радио</a></li>
            <li><a href="#/">Слушать радио</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="share-box">
             <div class="row-social">
               <a class="vk-share" href="#/"></a>
               <a class="fb-share" href="#/"></a>
               <a class="tw-share" href="#/"></a>
               <a class="youtube-share" href="#/"></a>
               <a class="inst-share" href="#/"></a>
               <a class="get-app-andr" href="#/"></a>
               <a class="get-app-ios" href="#/"></a>
               <a class="get-app-windows" href="#/"></a>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer-nav -->
  <div class="footer-backlink">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="newton-fact.ru" class="back_link"><img src="images/backlink.png" alt="" /></a>
        </div>
        <div class="col-md-8 partners">
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_1.png" alt="" />
            </div>
          </a>
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_2.png" alt="" />
            </div>
          </a>
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_3.png" alt="" />
            </div>
          </a>
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_4.png" alt="" />
            </div>
          </a>
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_5.png" alt="" />
            </div>
          </a>
          <a href="#/">
            <div class="vcenter">
              <img src="images/partner_radio_6.png" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer-backlink -->

   <!-- <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <!--  <script type="text/javascript" src="js/masonry.min.js"></script>-->
    <!-- // <script type="text/javascript" src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script> -->
    <script src="js/bootstrap-filestyle.min.js"></script>
    <script src="js/bootstrap-modalmanager.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<!--    <script src="js/jquery-accessibleMegaMenu.js"></script>-->
    <!-- <script src="js/isotope.pkgd.min.js"></script> -->
    <script type="text/javascript" src="js/isotope.pkgd.js"></script>
    <script src="js/jquery.mask.min.js"></script>


    <script>
      window.jQuery || document.write("<script src='js/vendor/jquery-1.11.2.min.js'><\/script>")
    </script>
    <script src="js/js.js"></script>
  </footer>