<header id="header">

<div id="links">
  <li><a href="./adv.html">radio/adv.html</a></li>
  <li><a href="./afisha.html">radio/afisha.html</a></li>
  <li><a href="./afisha_inside.html">radio/afisha_inside.html</a></li>
  <li><a href="./artist.html">radio/artist.html</a></li>
  <li><a href="./artist-inside.html">radio/artist-inside.html</a></li>
  <li><a href="./artist-list.html">radio/artist-list.html</a></li>
  <li><a href="./city.html">radio/city.html</a></li>
  <li><a href="./contacts.html">radio/contacts.html</a></li>
  <li><a href="./high-society.html">radio/high-society.html</a></li>
  <li><a href="./index.html">radio/index.html</a></li>
  <li><a href="./konkurs.html">radio/konkurs.html</a></li>
  <li><a href="./konkurs-inside.html">radio/konkurs-inside.html</a></li>
  <li><a href="./konkursi-priz.html">radio/konkursi-priz.html</a></li>
  <li><a href="./listen.html">radio/listen.html</a></li>
  <li><a href="./listen-inside.html">radio/listen-inside.html</a></li>
  <li><a href="./max-news.html">radio/max-news.html</a></li>
  <li><a href="./news.html">radio/news.html</a></li>
  <li><a href="./news-inside.html">radio/news-inside.html</a></li>
  <li><a href="./photo-gallery.html">radio/photo-gallery.html</a></li>
  <li><a href="./serial-news.html">radio/serial-news.html</a></li>
  <li><a href="./show.html">radio/show.html</a></li>
  <li><a href="./sms.html">radio/sms.html</a></li>
  <li><a href="./society.html">radio/society.html</a></li>
  <li><a href="./spisok-program.html">radio/spisok-program.html</a></li>
  <li><a href="./tv.html">radio/tv.html</a></li>
  <li><a href="./tvdetail.html">radio/tvdetail.html</a></li>
</div>
  <nav class="navbar ">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="logo">
            <a href="index.html">
              <img src="images/logo.png">
            </a>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="player" id="music_player">
            <div class="inner clearfix">
              <div class="logo-artist">
                <audio id="music" preload="true">
                  <source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
                  <source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
                </audio>
                <div id="audioplayer">
                  <button id="pButton" class="play" onclick="play()"></button>
                  <div id="timeline">
                    <div id="playhead"></div>
                  </div>
                </div>
              </div>
              <div class="now-playing">
                <p class="now-playing-label">Сейчас играет</p>
                <span class="name-artist">Linkin Park - Bleed it out</span>
                <div class="volume">
                  <a class="trigger-volume" href="#/"></a>
                  <div class="line-track"></div>
                  <span class="percent-volume">80%</span>
                </div>
              </div>
              <div class="choose-station">
                <a class="choose-st-btn" href="http://maximum.stage.quantumart.ru/online/">Выбрать станцию</a>
              </div>
            </div>
            <div class="inner outer clearfix">
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-103.jpg" alt="" />
                </a>
              </div>
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-104.jpg" alt="" />
                </a>
              </div>
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-105.jpg" alt="" />
                </a>
              </div>
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-106.jpg" alt="" />
                </a>
              </div>
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-107.jpg" alt="" />
                </a>
              </div>
              <div class="box-play">
                <a class="play" href="#/">
                  <img src="images/layer-107.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="share-box">
            <div class="row-social">
              <a class="vk-share" href="#/"></a>
              <a class="fb-share" href="#/"></a>
              <a class="tw-share" href="#/"></a>
              <a class="youtube-share" href="#/"></a>
              <a class="inst-share" href="#/"></a>
              <a class="get-app-andr" href="#/"></a>
              <a class="get-app-ios" href="#/"></a>
              <a class="get-app-windows" href="#/"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>