  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="" name="description">
  <meta content="width=1024" name="viewport">
  <title>Maximum</title>
  <link href="apple-touch-icon.png" rel="apple-touch-icon">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/bootstrap-modal-bs3patch.css" rel="stylesheet">
  <link href="css/bootstrap-modal.css" rel="stylesheet">
  <link href="css3/main.css" rel="stylesheet">
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>