<div id="menu-wrapper">
<div class="container wrapper">
  <div class="menu-box">
    <ul class="nav">
      <li>
        <a href="#">О радио</a>
        <div>
          <ul>
            <li class="list-news">
              <ul>
                <li>
                  <a href="#">Новости радиостанции</a>
                </li>
                <li>
                  <a href="#">Музыкальные новости</a>
                </li>
                <li>
                  <a href="#">Афиша</a>
                </li>
              </ul>
            </li>
            <ul>
              <div class="sub-title">
                <h3>
                  <a href="#">Последние новости</a>
                </h3>
              </div>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">
                      <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                    </a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#"><img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a></div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Новости</a>
      </li>
      <li>
        <a href="#">Музыка</a>
        <div>
          <ul>
            <li class="list-news">
              <ul>
                <li>
                  <a href="#">Новости радиостанции</a>
                </li>
                <li>
                  <a href="#">Музыкальные новости</a>
                </li>
                <li>
                  <a href="#">Афиша</a>
                </li>
              </ul>
            </li>
            <ul>
              <div class="sub-title">
                <h3>
                  <a href="#">Последние новости</a>
                </h3>
              </div>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">
                      <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                    </a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#"><img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a></div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Акции</a>
        <div>
          <ul>
            <li class="list-news">
              <ul>
                <li>
                  <a href="#">Новости радиостанции</a>
                </li>
                <li>
                  <a href="#">Музыкальные новости</a>
                </li>
                <li>
                  <a href="#">Афиша</a>
                </li>
              </ul>
            </li>
            <ul>
              <div class="sub-title">
                <h3>
                  <a href="#">Последние новости</a>
                </h3>
              </div>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">
                      <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                    </a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#"><img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a></div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Призы</a>
        <div>
          <ul>
            <li class="list-news">
              <ul>
                <li>
                  <a href="#">Новости радиостанции</a>
                </li>
                <li>
                  <a href="#">Музыкальные новости</a>
                </li>
                <li>
                  <a href="#">Афиша</a>
                </li>
              </ul>
            </li>
            <ul>
              <div class="sub-title">
                <h3>
                  <a href="#">Последние новости</a>
                </h3>
              </div>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">
                      <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                    </a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#/">
                      <img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a>
                  </div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
              <li class="last-news">
                <div class="news-cont">
                  <div class="picture">
                    <a href="#"><img src="http://dummyimage.com/226x180/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></a></div>
                  <h2 class="name-news">
                    <a href="#/">LINDEMANN в гостях High Society Шоу!</a>
                  </h2>
                  <div class="date-news">27.12.15</div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Слушать радио</a>
      </li>
    </ul>
  </div>
</div>
</div>